body
{
	background-color: black;
}
a 
{ 
    color:red;
    text-decoration: none;
}
.lt
{
	position: absolute;
	height: 7%;
	width: 5%;
	top:88%;
	left: 12%;
}
.rt
{
	position: absolute;
	height: 7%;
	width: 5%;
	top: 88%;
	right: 8%;
}
.ion
{
	position: absolute;
	height: 50%;
	width: 30%; 
	left: 58%;
    top:40%;
}
.ion:hover 
{
	height: 51%;
	border: solid;
}
.txrigh
{
	font-size:50px;
	position: absolute; 
	display: block;
	height: 70%;
	width: 30%;
	top:25%;
	right:15%;
	font-size: 20px;"
}
.txleft
{
	font-size: 50px; 
	position: absolute; 
	height: 70%;
	width: 30%;
	top:25%;right:54%;
	font-size: 20px;
}
.img1
{
	position: absolute;
	height: 25%;
	width: 25%; 
	left: 60%;
    top:65%;
}
.img2
{
	position: absolute;
	height: 25%;
	width: 25%; 
	left: 60%;
    top:65%;
}
.img3
{
	position: absolute;
	height: 25%;
	width: 25%; 
	left: 18%;
    top:60%;
}
.carte
{
	position: absolute;
	height: 80%;
	width: 90%;
	left: 7%;
    top:20%;
}
.titlu
{
	position: absolute;
	left: 34%;
	top:9%;
	font-size:55px;
	color:blue;
}
.rez
{
	font-size: 40px;
	display: inline;
}
.rez:hover a
{
	font-size: 45px;
	color:white;
	border-color:white;
}
.p1
{
	font-size: 40px;
	display: inline;
}
.p1:hover a
{
	font-size: 45px;
	color:white;
	border-color:white;
}
.p2
{
	font-size: 40px;
	display: inline;
}
.p2:hover a
{
	font-size: 45px;
	color:white;
	border-color:white;
}
.p3
{
	font-size: 40px;
	display: inline;
}
.p3:hover a
{
	font-size: 45px;
	color:white;
	border-color:white;
}